/* ---------- Colors ---------- */

:root{
    --negro_mate:#212121;
    --verde_claro:#97D700;
    --azul_oscuro:#10069F;
    --azul_m_oscuro:#0E202E;
    --azul-intermedio:#0DA9DD;
    --azul_marino: #2B2D42;
    --rojo_principal:#DF4747;
    --verde_normal: #2CB877;
    --celeste: #78C6E4;
    --celeste_claro:#AADEEF;
    --blanco:#FFFFFF;
    --negro:#000000;
    --gris_claro:#E0E0E0;
    --gris_oscuro:#424242;
    --gris_intermedio:#9E9E9E;
}

/* ---------- Header ---------- */

.header .navigation .logo-dir--container img{
    justify-self: flex-start;
    width: 250px;
}

.header .navigation .links-container{
    max-width: 500px;
}

.header .navigation .links-container .links-container--item a{
    font-size: 2rem;
}

/* ---------- Main Body ---------- */


.hero .hero__title{
    font-size: 2.8rem;
    text-shadow: 6px 3px 7px rgba(16,6,159,0.8);
}

.hero .hero__content{
    font-size: 1.4rem;
    text-shadow: 6px 3px 7px rgba(16,6,159,0.8);
    font-weight: 500;

}

.grid-title{
    color: var(--azul_oscuro);
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;

    font-size: 2.5rem;
}

.grid-container{
    max-width: 1000px;
}



.grid-container .card{
    min-width: 400px;
    height: 450px;
}

.card{

    margin-top: 40px ;
    transition: all 300ms ease-in-out;
}
.card .card-image{
    transition: all 400ms ease-in;
    
 }

.card__descrip{
    visibility: hidden;
    width: 100%;
    height: 250px;
}

/* ---------- Footer ---------- */

.footer .footer-data--container{
    width: 95%;
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    min-width: unset;
    max-width: 900px;
    
}

.footer-data--container .footer-detail .footer-detail--descrip .footer-detail--content{
    font-size: 1.4rem;
}


.footer-data--container .footer-poli{
    margin-left: 40px;
}

/* ---------- Search-Page ---------- */


.bus .bus-container{
    width: 90%;
    max-width: 1300px;
}

.bus-container .bus-bar--container{
    width: 40%;
}

.bus-bar--container .bus--bar{
    width: 90%;
    height: 6px;}

.bus-container .bus-input--container{
    width: 65%;
}



/* ---------- Effects ----------*/


.header .navigation .links-container--item:hover a{
    color: var(--verde_claro);
    transition: color 150ms ease-in-out;

}
.card:hover .card__descrip{
    visibility: visible;
    
}

.card:hover .card__descrip .card__descrip--title{ 
    transform: scale(1.05);
    color: var(--blanco);
    transition: all 350ms ease-in;
}


.card:hover .card__descrip .card__descrip--content{

    transform: scale(1.05);
    color: var(--blanco);
    transition: all 350ms ease-in;
}

.card:hover .card-image{
   transition: all 400ms ease-in;
   opacity: 0.3;
}

.footer-data--container .footer-poli .footer-poli--container .footer-poli--item a:hover,
.footer .footer-ref  .footer-ref--links .footer-ref--links--item:hover

{
    text-decoration: underline;
}





