/* ---------- Colors ---------- */

:root{
    --negro_mate:#212121;
    --verde_claro:#97D700;
    --azul_oscuro:#10069F;
    --azul_m_oscuro:#0E202E;
    --azul-intermedio:#0DA9DD;
    --azul_marino: #2B2D42;
    --rojo_principal:#DF4747;
    --verde_normal: #2CB877;
    --celeste: #78C6E4;
    --celeste_claro:#AADEEF;
    --blanco:#FFFFFF;
    --negro:#000000;
    --gris_claro:#E0E0E0;
    --gris_oscuro:#424242;
    --gris_intermedio:#9E9E9E;
}


/* ---------- General styles ---------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
}

/* ---------- Header ---------- */

.header{
    height: auto;
    width: 100%;
} 

.header .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.header .navigation  a{
    text-decoration: none;
    margin: 0;
}

.header .navigation .logo-muni{
    width: 85px;

}

.header .navigation .logo-dir{
    width: 125px;
    margin: 0 1rem;
}

.checkbox{
    display: none;
}

#buttonCheck:checked ~ .links-menu-container{
    display: block;
}



.links-menu-container{
    display: none;
}

.links-container-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    list-style: none;
}

.links-container-mobile--item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 70%;
    border-bottom: 1px solid var(--verde_claro);
    padding: 10px;
}


.links-container-mobile--item a{
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--azul_oscuro);
   
}

.links-container{
    display: none;
}

.links-bars span{
    display: inline-block;
    background: url('../assets/icons/bars.svg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
    
}

/* ---------- Main ---------- */

.main-body{
    display: flex;
    flex-direction:column;
    margin-top: -5px;
    width: 100%;
    min-width: 320px;
   
}


/* ---------- Main-hero ---------- */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background: url('../assets/images/pexels-pixabay-41949.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2.5rem;
}

.hero .hero__title{
    color: var(--blanco);
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    text-shadow: 6px 3px 7px rgba(16,6,159,0.5);
}

.hero .hero__content{
    color: var(--blanco);
    font-size: 1.2rem;
    margin-top:1.25rem;
    text-align: center;
    text-shadow: 6px 3px 7px rgba(16,6,159,0.42);
}

/* ---------- Main-grid ---------- */
.grid-title{
    color: var(--azul_oscuro);
    text-align: center;
    margin: 40px 10px 15px;
    font-size: 2.5rem;
}

.grid-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
    min-width: 300px;
    max-width: 725px;
    padding: 0 15px;
    margin: 10px auto 50px;
}



/* ---------- Grid-Card ---------- */

.card{
    position: relative;
    min-width: 250px;
    max-width: 375px;
    height: 400px;
    background-color: var(--negro_mate);
    z-index: 3;
    border-radius: 2%;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    border-radius: 2%;
}

.card__descrip{
    position: absolute;
    top: 40%;
    padding: 0 25px;

    
}

.card__descrip .card__descrip--title{
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--blanco);
    text-shadow: 3px 4px 9px rgba(16,6,159,0.72);
    
   

}

.card__descrip .card__descrip--content{
    margin-top: .5rem;
    font-size: 1.4rem;
    color: var(--blanco);
    text-align: center;
    font-weight: 600;
    text-shadow: 3px 4px 9px rgba(16,6,159,0.72);
 
  
}

/* ---------- Footer ---------- */

.footer{
    width: 100%;
    background-color: var(--azul_oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-data--container{
    width: 90%;
    min-width: 280px;
    max-width: 580px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-data--container .footer-detail{
    width: 90%;
    min-width: 300px;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.footer-data--container .footer-detail .footer-detail--logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-data--container .footer-detail .footer-detail--logo-container .footer-detail--logo-digm
{   
    width: 85%;
    min-width: 250px;
    max-width: 325px;
}

.footer-data--container .footer-detail .footer-detail--descrip{
    margin: 0px;
    padding: 25px;
}


.footer-data--container .footer-detail .footer-detail--descrip .footer-detail--content{
    color:  white;
    font-size: 1.3rem;
    text-align: justify;
    
}

.footer-data--container .footer-poli{
    width: 85%;
    min-width: 210px;
    max-width: 370px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-data--container .footer-poli .footer-poli--title{
    color: var(--blanco);
    font-size: 1.6rem;
    text-align: center;
}

.footer-data--container .footer-poli .footer-poli--container{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-data--container .footer-poli .footer-poli--container .footer-poli--item{
     margin-top: 10px;
}

.footer-data--container .footer-poli .footer-poli--container .footer-poli--item a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:600 ;


}

.footer-data--container .footer-social{
    width: 85%;
    min-width: 250px;
    max-width: 370px;
    margin-top: 10px;
}

.footer-data--container .footer-social .footer-social--title{
    color: var(--blanco);
    font-size: 1.6rem;
    text-align: center
}

.footer-data--container .footer-social .footer-social--container{
    display: flex;
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    justify-content: space-around;
    margin: 15px auto;
   
}

.footer-data--container .footer-social .footer-social--container .footer-social--item{
   width: 100%;
   min-width: 50px;
   max-width: 70px;
   margin: auto;
}

.footer .footer-ref{
    margin-top: 15px;
    width: 100%;
}

.footer .footer-ref .footer-ref--der{
    color: var(--blanco);
    font-weight:400 ;
    text-align: center;
}

.footer .footer-ref  .footer-ref--links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;



}

.footer .footer-ref  .footer-ref--links .footer-ref--links--item{
   color: var(--blanco);
   text-decoration: none;
}


/* ---------- Search-Page ---------- */

.bus{
    width: 90%;
    height: auto;
    margin: 35px auto 10px;

}

.bus .bus-title{
    color: var(--azul_oscuro);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;

}

.bus .bus-container{
    width: 100%;
    margin: 10px auto;
}

.bus-container .bus-bar--container{
    width: 100%;
    margin: 0 auto;
}

.bus-bar--container .bus--bar{
    width: 75%;
    height: 5px;
    background-color: var(--verde_claro);
    margin: 20px auto;
    border-radius: 30px;
}

.bus-container .bus-input--container{
    margin: 25px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    height: auto;


}


.bus-container .bus-input--container .bus-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--azul_oscuro);
    width: 95%;
    height: 45px;
    border-radius: 10px;
 }

 .bus-input--container .bus-input input{
    width: 80%;
    padding-left: 10px;
    height: 30px;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
 }

 .bus-input--container .bus-input input::placeholder{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--azul-intermedio);
 
 }

 input::-webkit-calendar-picker-indicator {
    color: var(--azul-intermedio);
 }

 .bus-input--container .bus-input span{
    display: inline-block;
    background: url('../assets/icons/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
    opacity: 0.4;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
 }


 .bus .bus-button--container{
    width: 90%;
    margin: 25px auto 0;
    height: auto;
    display: flex;
    justify-content:space-evenly;
 }

.bus-button--container .button {
    width: 100px;
    height: 50px;
    background-color: var(--blanco);
    color: var(--azul_oscuro);
    font-weight: 700;
    border: 3px solid var(--azul_oscuro);
    border-radius: 10px;
}

.back {
    margin: 10px 0 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back .button{
    width: 200px;
    height: 50px;
    background-color: var(--blanco);
    color: var(--azul_oscuro);
    font-weight: 700;
    border: 3px solid var(--azul_oscuro);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back .button .arrow{
    display: inline-block;
    background: url('../assets/icons/arrow-left-long.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.back .button .text{
    font-size: 1.6rem;
}


