/* ---------- Colors ---------- */

:root{
    --negro_mate:#212121;
    --verde_claro:#97D700;
    --azul_oscuro:#10069F;
    --azul_m_oscuro:#0E202E;
    --azul-intermedio:#0DA9DD;
    --azul_marino: #2B2D42;
    --rojo_principal:#DF4747;
    --verde_normal: #2CB877;
    --celeste: #78C6E4;
    --celeste_claro:#AADEEF;
    --blanco:#FFFFFF;
    --negro:#000000;
    --gris_claro:#E0E0E0;
    --gris_oscuro:#424242;
    --gris_intermedio:#9E9E9E;
}


.header .navigation{
    display: grid;
    grid-template-columns: 0.3fr 1fr 3fr;


}
.header .navigation .logo-dir--container{
    justify-self: flex-start;

}

.header .navigation .logo-dir--container img{
    justify-self: flex-start;
    width: 200px;
}

.header .navigation .links{
    display: none;
}

.header .navigation .links-container{
    display: flex;
    width: 90%;
    min-width: 290px ;
    max-width: 340px;
    justify-content: space-evenly;
    justify-self: flex-end;
    margin-left: 50px;
    
}

.header .navigation .links-container .links-container--item{
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    

}

.header .navigation .links-container .links-container--item a{
    list-style: none;
    color: var(--azul_oscuro);
}


.hero{
    height: 300px;
}

.hero .hero__title{
    font-size: 2.3rem;
    text-shadow: 6px 3px 7px rgba(16,6,159,0.7);
}

.hero .hero__content{
    font-size: 1.4rem;
    padding: 0 6.5rem;
} 


.grid-title
{
    font-size: 2.2rem;
}

.grid-container{
    width: 95%;
    height: auto;
    max-width: 1000px;
    padding: 0;

}

.card{
    min-width: 280px;
    max-width: 310px;
    height: 350px;
    margin-top: 25px ;
}

.footer .footer-data--container{
    width: 95%;
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    min-width: unset;
    max-width: 800px;
    
}

.footer-data--container .footer-detail{
    min-width: 150px;
    max-width: none;
    margin-right:25px;
}



.footer-data--container .footer-detail .footer-detail--logo-container .footer-detail--logo-digm{   
    width: 85%;
    min-width: 150px;
    
}

.footer-data--container .footer-detail .footer-detail--descrip{
    padding: 1rem  1.5rem; 
}

.footer-data--container .footer-detail .footer-detail--descrip .footer-detail--content{
    font-size: 1.2rem;
}

.footer-data--container .footer-poli .footer-poli--title{
    text-align:left;
    font-size: 1.5rem;
}

.footer-data--container .footer-poli .footer-poli--container{

    align-items: flex-start;
    padding-left: 15px;
}

.footer-data--container .footer-social {
    width: 85%;
    min-width: 205px;
    max-width: 350px;
    margin-top: 10px;
}

.footer-data--container .footer-social .footer-social--title{
    font-size: 1.5rem;
}

.footer-data--container .footer-social .footer-social--container .footer-social--item{
    width: 100%;
   
    max-width: 60px;
    margin: auto;
 }

 .footer .footer-ref  .footer-ref--links{
    width: 70%;
    margin: 10px auto;
 }


 /* ---------- Search-Page ---------- */


.bus .bus-title{
    font-size: 2.5rem;
}

.bus .bus-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.bus-container .bus-bar--container{
    width: 50%;
}

.bus-bar--container .bus--bar{
    height: 6px;
}

.bus .bus-button--container{
    width: 50%
}

.bus-button--container .button {
    width: 150px;
    font-size: 1.6rem;
}
.back .button{
    width: 175px;
    height: 40px;
}

.back .button .text{
    font-size: 1.5rem;
}



